node_modules/
.gradle/
build/
*.apk
*.aab
*.hprof
*.keystore

ios/Pods/
ios/build/
ios/*.xcworkspace

.android/
.ios/

.env
.env.local
.env.production

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.metro-health-check*

.DS_Store
Thumbs.db

*.tsbuildinfo
